# Leet Rabbits Codes

{{daily_table}}

---

### Summary

{{summary}}

---

{{leetcode_url_def}}

[Easy]: https://img.shields.io/badge/-Easy-brightgreen
[Medium]: https://img.shields.io/badge/-Medium-orange
[Hard]: https://img.shields.io/badge/-Hard-red